    @import url('https://fonts.googleapis.com/css2?family=Cardo&family=Cinzel:wght@600&family=Cormorant+Garamond:wght@300&family=EB+Garamond:wght@500&family=Libre+Baskerville&display=swap');

    .inventory {
        position: fixed;
        bottom: 0;
        width: 250px;
        height: 200px;
        overflow: scroll;
        background-color: rgb(187, 187, 187);
        border-radius: 13px 13px 0px 0px ;
        border-style: ridge;
        border-color: rgb(155, 75, 0);
    }
    
    .marketplace {
        display: none;
        height: 400px;
        overflow: scroll;
    }
    
    .sellButtons {
        display: grid;
        grid-template-columns: repeat(4, 120px);
        margin-bottom: 10px;
    }
    
    .upgrades {
        display: grid;
        grid-template-columns: repeat(1, 160px);
        margin-bottom: 10px;
    }

    
    .unselectable {
        -webkit-user-select: none;
        /* Safari */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* IE10+/Edge */
        user-select: none;
        /* Standard */
    }
    
    button {
        background-color: darkgrey;
        font-size: 20px;
        font-family: 'EB Garamond', 'serif';
        border-radius: 8px;
        margin: 6px;
        border-color: rgb(155, 75, 0);
    }
    
    button:hover {
        background-color: white;
    }
    
    button:active {
        background-color: dimgrey;
    }